header {
    margin-top: 30px;
    background-color: $detail-color;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        gap: 40px;
        padding-block: 30px;

        .content {
            font-size: 1.2em;
            color: #2D3142;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                font-weight: 800;
            }
        }
    }
}


